@font-face {
  font-family: "inconsolata";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/inconsolata-regular.ttf") format("truetype");
}

@font-face {
  font-family: "inconsolata";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/inconsolata-bold.ttf") format("truetype");
}

@keyframes text-marked {
  50% { color: white; background: var(--color-brown) }
}

:root {
  --color-gray: #dbdbdb;
  --color-gray-medium: #9e9e9e;
  --color-gray-large: #7d7d7d;
  --color-gray-heavy: #5f5f5f;
  --color-gray-dank: #353535;
  --color-brown: #9f5621;
  --color-brown-trans: rgba(159, 86, 33, 0.6);
  --color-foreground: #000;
  --color-background: #fff;
  --color-border: var(--color-gray);
}

.dark-mode {
  --color-brown: #d47f42;
  --color-gray-heavy: var(--color-gray-large);
  --color-foreground: #fff;
  --color-background: var(--color-gray-dank);
  --color-border: var(--color-gray-heavy);
}

html,
body {
  box-sizing: border-box;
  font-family: inconsolata, monospace;
  font-size: 16px;
  height: 100%;
  margin: 0;
  color: var(--color-foreground);
  background: var(--color-background);
}

.CodeMirror {
  height: calc(100% - 2rem);
  padding: 1rem;
  font: inherit;
  cursor: text;
  color: inherit;
  background: inherit;
}

.CodeMirror-cursor {
  border-color: var(--color-foreground);
}

.CodeMirror-scroll {
  overflow: hidden !important;
}

.CodeMirror-selected,
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  color: white !important;
  background: var(--color-brown-trans) !important;
}

.CodeMirror-matchingbracket {
  color: white !important;
  background: var(--color-brown) !important;
}

.text-marked {
  animation: text-marked .3s ease-out;
}

.cm-s-default .cm-keyword { color: var(--color-brown); }
.cm-s-default .cm-built-in { color: var(--color-brown); }
.cm-s-default .cm-number { color: var(--color-gray-large); }
.cm-s-default .cm-symbol { color: var(--color-gray-heavy); }
.cm-s-default .cm-class { color: var(--color-brown); }
.cm-s-default .cm-primitive { color: var(--color-gray-heavy); }
.cm-s-default .cm-char { color: var(--color-brown); }
.cm-s-default .cm-env-var { color: var(--color-brown); }
.cm-s-default .cm-comment { color: var(--color-gray-medium); }
.cm-s-default .cm-string { color: var(--color-gray-heavy); }
.cm-s-default .cm-text { color: var(--color-foreground); }
