@import "codemirror.css";
@import "editor.css";

:target {
  border: 0;
  padding-top: 32px;
}

:focus {
  outline: none;
}

::selection {
  background: var(--color-brown);
  color: white;
}

#menubar {
  background: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  box-shadow: none;
}

#menubar .menuitem {
  border: 0;
}

#menubar .menuitem:first-child {
  background: none;
}

#menubar .menuitem:first-child a {
  padding-left: 1rem;
}

#menubar .menuitem a.home span {
  display: inline-block;
}

a.menu-link {
  padding: 0;
  margin: 0 1rem 0 0;
}

#label,
#toc-container,
#menubar .menuitem {
  font-size: 13px;
}

#toc,
.submenu {
  background: var(--color-background);
  top: 32px;
  border-top: 0;
}

#toc-container,
#total_count {
  display: none;
}

#summary {
  font: inherit;
  font-style: normal;
  opacity: .8;
}

h1 {
  margin-top: .6rem;
}

h2 {
  border-bottom: 1px dashed var(--color-gray);
}

h2, h3, h4 {
  padding-bottom: .4rem;
}

a[href] {
  color: var(--color-gray-medium);
}

a[href]:hover {
  color: var(--color-gray-large);
  text-decoration: none;
}

textarea {
  display: block;
  opacity: 1;
}

code,
pre:not(.CodeMirror-line) {
  font: inherit;
  margin: 0;
  background: var(--color-gray);
  overflow-x: auto;
}

.CodeMirror {
  height: auto;
  z-index: 1;
}

.method-code {
  font: inherit;
}

a.method-name::before {
  display: none;
}

.subheader :first-child {
  padding-top: 1rem;
}

.subheader,
#superclasses,
#related {
  font: inherit;
  margin: 0;
}

.note,
.warning,
.searchlink {
  background: var(--color-gray);
}

.warninglabel {
  color: inherit;
}

#search_input {
  -webkit-appearance: none;
  padding: .3rem 0.6rem;
  font: inherit;
  background: var(--color-gray);
  border: 0;
}

.cat_selected {
  border: 0;
}

.cat_arrow {
  display: none;
}

table {
  margin-left: 0;
}

ul.inheritedmets li {
  font: inherit;
}
