@import "codemirror.css";
@import "editor.css";

:root {
  --color-gray: #dbdbdb;
  --color-red: #bf0000;
  --color-green: #007300;
}

html {
  box-sizing: border-box;
  font-family: inconsolata;
  font-size: 16px;
}

body {
  margin: 0;
  min-height: 100vh;
}

pre,
code {
  font: inherit;
  margin: 0;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: red;
  background: white;
  z-index: 5;
}

#loading div {
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
  background: tomato;
  transition: .2s opacity;
  animation: 1s linear spin infinite;
}

@keyframes spin {
  to { transform: rotate(360deg) }
}

.panes {
  display: flex;
}

.pane {
  position: relative;
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}

.pane:first-child {
  border-right: 1px solid var(--color-gray);
}

.pane:first-child::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 10px;
  cursor: col-resize;
}

#split {
  display: flex;
  flex-direction: column;
}

#help,
#post {
  flex: 1;
  overflow-y: auto;
}

#help {
  position: relative;
  border-bottom: 1px solid var(--color-gray);
}

#help iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

#help nav {
  position: absolute;
  top: .3em;
  left: 50%;
  right: .8em;
  text-align: right;
  pointer-events: none;
  z-index: 1;
}

#help button#back,
#help button#forward {
  -webkit-appearance: none;
  user-select: none;
  background: none;
  padding: .3rem;
  font-family: inherit;
  font-size: 13px;
  color: #c1c1c1;
  cursor: pointer;
  pointer-events: auto;
  outline: 0;
  border: 0;
}

#post output {
  display: block;
  padding: 1rem;
}

#post ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#post li.error {
  color: var(--color-red);
}
