@import "codemirror.css";
@import "editor.css";

:root {
  --color-gray: #dbdbdb;
}

html {
  box-sizing: border-box;
  font-family: inconsolata;
  font-size: 16px;
}

body {
  margin: 0;
  min-height: 100vh;
}

pre,
code {
  font: inherit;
  margin: 0;
}

.pane {
  position: relative;
  flex: 1;
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

.resize {
  width: 3px;
  left: -1px;
  top: 0;
  position: relative;
  bottom: 0;
  cursor: col-resize;
}

#editor {
  border-right: 1px solid var(--color-gray);
}

#help nav {
  position: fixed;
  top: .5em;
  left: 50%;
  right: 1em;
  text-align: right;
  pointer-events: none;
  z-index: 1;
}

#help button#back,
#help button#forward {
  -webkit-appearance: none;
  user-select: none;
  background: none;
  padding: .3rem;
  font-size: 1em;
  cursor: pointer;
  pointer-events: auto;
  outline: 0;
  border: 0;
}

#help #doc {
  padding: 1em;
}

#help ul {
  padding-left: 2em;
}

#help h1,
#help h2 {
  padding-bottom: .6rem;
  border-bottom: 1px solid var(--color-gray);
}

#help h1 {
  font-size: 2.8rem;
  margin-top: .6rem;
}

#help h2 {
  font-size: 2rem;
}

#help blockquote {
  margin-left: 0;
}

#help dt {
  font-weight: bold;
}

#help table {
  margin: 1rem;
  border-collapse: collapse;
}

#help td {
  padding: .5rem;
  border: 1px solid;
}

#help img {
  max-width: 100%;
}

#help code,
#help pre:not(.CodeMirror-line) {
  background: #e8e8e8;
  overflow-x: auto;
}

#help .CodeMirror {
  height: auto;
}

#help a:not([href]) {
  padding-top: .8rem;
}

#post {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: calc(100px - 2em);
  border-top: 1px solid var(--color-gray);
  padding: 1em;
  overflow-y: scroll;
}

#post ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#post li.value {
  /* color: tomato; */
}
