@import "codemirror.css";
@import "editor.css";

.panes {
  height: 100%;
  display: flex;
}

.pane {
  position: relative;
  flex: 1;
  overflow-y: auto;
}

#left.pane,
#right.pane {
  height: calc(100% - 1px);
  border-top: 1px solid var(--color-border);
}

#left.pane::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 10px;
  cursor: ew-resize;
}

#right.pane {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--color-border);
}

#right.pane[hidden] {
  display: none;
}

#help.pane {
  border-bottom: 1px solid var(--color-border);
  overflow-y: hidden;
}

#help.pane::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 10px;
  width: 100%;
  cursor: ns-resize;
}

#post.pane {
  flex-grow: 0.33333;
}

#post.pane--full {
  flex-grow: 1 !important;
}

#help #loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background: var(--color-background);
  z-index: 2;
}

#help iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

#help nav {
  position: absolute;
  top: .4em;
  right: 1.4em;
  text-align: right;
  pointer-events: none;
  z-index: 2;
}

#help > nav button {
  -webkit-appearance: none;
  user-select: none;
  background: none;
  padding: .3rem;
  font-family: inherit;
  font-size: 13px;
  color: var(--color-gray-medium);
  cursor: pointer;
  pointer-events: auto;
  outline: 0;
  border: 0;
}

#help > nav button:hover {
  color: var(--color-gray-large);
}

#post output {
  display: block;
  padding: 1rem;
}

#post ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#post li.info {
  color: var(--color-gray-large);
}

#post li.error {
  color: var(--color-brown);
}

#post pre {
  margin: 0;
  font: inherit;
}
